<div class="container">
    <div *ngIf="uploadErrorMessage" class="alert is-critical">
        <p>{{uploadErrorMessage}}</p>
    </div>
    <dropzone [config]="config" [message]="'Click or drag images here to upload'" (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></dropzone>
</div>

<div>
    <h2>Files</h2>
    <div class="table-responsive scrollable-zone">
        <table class="table">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Uploaded On</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let media of library">
                    <td><img src="http://localhost:3000/api/Containers/images/download/{{media.name}}" alt="{{media.name}}" [style.width.px]="64"></td>
                    <td>{{ media.name }}</td>
                    <td>{{ media.ctime }}</td>
                    <td>
                        <button class="btn btn-danger" (click)="removeMedia(media)">
                            <i class="ti-close"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--<div class="col-sm-12">
        {{ library | json }}
        <div [class.selected]="(isSelectedMedia(item))" *ngFor="let item of library">
            <div class="media-is-selected-icon" (click)="onSelectMedia(item)">
                <span class="ti-star" *ngIf="isSelectedMedia(item)"></span>
            </div>
            <div class="media-item" [title]="item.name" (click)="onSelectMedia(item)">
                <div *ngIf="isImageFileType(item.type)" class="image-file-type">
                    <img [src]="item.name" />
                </div>
                <div *ngIf="!isImageFileType(item.type)" class="not-image-file-type">
                    <span class="file-type-unknown">{{item.type}}</span>
                </div>
            </div>
        </div>
    </div>-->
    <div class="col-sm-12">
        <button [disabled]="(libraryLoadMoreButton == 'loading...')" class="btn btn-warning" (click)="loadMoreLibrary()">
								{{libraryLoadMoreButton}}
							</button>
    </div>
</div>